body {
    font-family: 'Roboto', sans-serif;
    background-color: #eceff1; /* Per image 1 */
    margin: 10px auto;
    padding: 10px;
}

.show-container {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.show-data {
    width: 100%;
    background-color: #cfd8dc;
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Floating effect */
}

.show-info {
    width: 100%;
}

.show-data img {
    width: 210px;
    height: 295px;
    object-fit: cover;
}

.show-info h1 {
    text-align: center;
}

/* Desktop (min-width: 800px) */
@media (min-width: 800px) {
    .show-data {
        display: flex;
    }
    .show-info {
        padding: 10px;
    }
}

/* Mobile (max-width: 800px) */
@media (max-width: 800px) {
    .show-data {
        flex-direction: column;
    }
    .show-data img {
        margin: auto;
        display: block;
    }
    .show-info p {
        text-align: center;
        padding: 10px;
    }
}